body{
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}


.black{
  display: flex;
  margin-left: 476px;
  /* border: 2px solid; */
  width: 360px;
  height: 2384px;
  background-color: black;
  
}





.main1{
  width: 360px;
height: 394px;
flex-shrink: 0;
}

.main-a{
  color: #BFBFBF;
font-size: 20px;
font-family: Roboto;
font-weight: 500;
margin-top: -120px;
margin-left: 24px;
}
.main-b{
  color: #949398;
font-size: 12px;
font-family: Roboto;
line-height: 20px;
margin-top: -20px;
margin-left: 24px;
}
.main-c{
  color: #BFBFBF;
text-align: center;
font-size: 12px;
font-family: Roboto;
margin-left: -240px;
}
.main-d{
  color: #BFBFBF;
text-align: center;
font-size: 12px;
font-family: Roboto;
margin-left: -40px;
margin-top: -26px;
}

.main-e{
  margin-left: 261px;
  margin-top: -60px;
}

.main2 p{
  display: flex;
  /* border: 2px solid; */
width: 314px;
flex-direction: column;
  color: rgba(255, 245, 209, 0.90);
font-size: 20px;
font-family: Lora;
line-height: 28px;
margin-top: 420px;
margin-left: -340px;
}

.hm img{
  width: 360px;
  height: 180px;
  flex-shrink: 0;
  margin-top: 500px;
  margin-left: -360px;
}

.brand img{
  /* border: 2px solid; */
  margin-top: 540px;
  margin-left: -230px;
}

.cont p{
  /* border: 2px solid; */
  display: flex;
flex-direction: column;
flex: 1 0 0;
  color: #FFF;
  height: 14px;
  width: 342px;
text-align: center;
font-size: 10px;
font-family: Poppins;
line-height: 140%;
letter-spacing: 0.75px;
margin-top: 620px;
margin-left: -360px;
}

.white img {
  /* border: 2px solid; */
  margin-top: 700px;
  margin-left: -339px;
}

.cont1 p{
  
  width: 204px;
  height: 18px;
  color: #505050;
font-size: 14px;
font-family: Lora;
font-weight: 500;
line-height: 129.28%;
margin-top: 714px;
margin-left: -325px;
}

.cont2 p{
  
  width: 181px;
  height: 12px;
  color: #505050;
font-size: 10px;
font-family: Roboto;
line-height: 118.359%;
margin-top: 740px;
margin-left:-325px;
}

.feeds p{
  margin-top: 790px;
  margin-left: -335px;
  color: #BFBFBF;
font-size: 18px;
font-family: Roboto;
font-weight: 500;
line-height: 20px;
text-decoration: none;
}

.feeds p:hover{
  border-bottom: 2px greenyellow;
  cursor: pointer;
  text-decoration: none;
  font-weight: bolder;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  width: 50px;
}



.collections p{
  margin-top: 790px;
  margin-left: -260px;
  color: #BFBFBF;
font-size: 18px;
font-family: Roboto;
font-weight: 500;
line-height: 20px;
cursor: pointer;
}
.link{
  text-decoration: none;
}
.collections p:hover{
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  width: 90px;
  font-weight: bolder;
}

.main3 {
  height: auto;
  /* border: 2px solid; */
  margin-top: -1530px;
  position: relative;
  margin-bottom: 600px;
  margin-left: 490px;
  


}

.main21 img{
  margin-left: 4px;
}

.main22 img{
  margin-top: 20px;
  margin-left: 7px;
}

.main23 img{
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
}
.main24 img{
  margin-left: 216px;
  margin-top: -90px;
  margin-bottom: 20px;
  
}

.likes{
  margin-left: 5px;
  color: white;
  margin-top: -10px;
}
.main25 img{
  margin-left: 5px;
}

.main26 p{
  width: 312px;
  height: 45px;
  color: #8C8888;
font-size: 12px;
font-family: Roboto;
margin-left: 7px;
margin-top: -5px;
}

.main27{
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.main27 input{
  border-radius: 30px;
  width: 240px;
  height: 33px;
  background-color: black;
  color: grey;
  border-color: white;
  
  
}

.main27 :placeholder-shown{
  padding-left: 10px;
}
.main27 button{
  width: 49px;
  height: 24px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #FFBF66;
}

.main4{
  margin-top: -560px;
  margin-left: 490px;
}

.scrool{
  border: 2px solid ;
  width: 320px;
  overflow-x:hidden;
}

.scrool2{
  /* border: 2px solid; */
  width: 330px;
  margin-left: -410px;
  overflow-x:hidden;
  
}

.main31 p{
  margin-top: 850px;
  margin-left: -380px;
width: 360px;
color: #BFBFBF;
font-size: 16px;
font-family: Roboto;
line-height: 20px;
}

.main32 img{
  margin-left: 25px;
  width: 232px;
  height: 257px;
  flex-shrink: 0;
  border-radius: 8px;
border: 1px solid rgba(255, 243, 226, 0.50);
background: linear-gradient(0deg, rgba(0, 0, 0, 0.84) 21.35%, rgba(0, 0, 0, 0.00) 50.31%), lightgray 50% / cover no-repeat;
}

.main33 img{
  margin-left: 280px;
  margin-top: -310px;
  margin-bottom: 20px;
  width: 232px;
  height: 257px;
  flex-shrink: 0;
  border-radius: 8px;
border: 1px solid rgba(255, 243, 226, 0.50);
background: linear-gradient(0deg, rgba(0, 0, 0, 0.84) 21.35%, rgba(0, 0, 0, 0.00) 50.31%), lightgray 50% / cover no-repeat;
}

.main34 p{
  font-size: 14px;
font-family: Lora;
margin-left: -360px;
margin-top: -110px;
width: 208px;
height: 36px;
 color: #FEEEB2;


}

.main35 {
  margin-left: -230px;
  margin-top: 5px;
  /* display: flex;
padding: 5px 10px;
align-items: flex-end;
gap: 8px;
border-radius: 77px;
background: #FFB546; */
}

.main35 button{
  border-radius: 77px;
background: #FFB546;
width: 68px;
height: 24px;
}

.main5{
  margin-left: 880px;
  margin-bottom: 900px;
  margin-top: -2390px;
}

.main6{
  margin-top: -860px;
  margin-left: 880px;
}



/* .active{
  text-decoration: none;
  font-weight: bold;
} */

.new{
  /* margin-left: 475px;
  margin-top: -1500px; */
  /* border: 2px solid; */

  width: 360px;
  height: 100vh;
  /* position: absolute; */
  background-color: black !important;
  display: flex;
  flex-direction: column;
  gap: 25px;
  
  
}
.img1{
  position: relative;
}
.img1 img{
  width: 360px ;
 
}

.img5 img{
  width: 360px;
}
.img7{
  margin-left: 200px;
  margin-top: -80px;
  /* border: 2px solid white; */
}

.button img{
  /* border: 2px solid white; */
  width: 13px;
  height: 13px;
  margin-top: -436px;
  margin-left: 320px;
  position: absolute;
}

